body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: black;
    color: white;
}

.navbar-header a, .navbar-nav a {
    color: darkred !important;
    font-weight: bold;
}

.navbar-header a:hover, .navbar-nav a:hover {
    color: whitesmoke !important;
    font-weight: bold;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

a {
color:darkred;
text-decoration:none;
}

a:hover {
        color: whitesmoke;
        text-decoration: none;
}

img {
    height: 250px;
    width: auto;
}
